
@import "bootstrap/scss/bootstrap";

* {
    font-family: 'ADLaM Display', cursive;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Comfortaa', cursive;
}


/* Stile per la rotta "login" */
.route-login {
  background-image: url('../../../public/bg.jpg');
  background-size: cover;
  }
  
  /* Stile per la rotta "about" */
  .route-register {
    background-image: url('../../../public/bg.jpg');
    background-size: cover;


    .form-container {
      background-color: white!important;
    }
  }

.route-admin,
.route-transactions,
.route-create,
.route-show {
  header {
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px 2px lightgrey; 
    box-shadow: 0px 3px 6px 2px lightgrey;
    margin-bottom: 5px;
    .none {
      color: black;
    }

    &:hover {
      background-color: lightgrey!important;
    }
  }
}

